.sidemenu {
	position: fixed;
	height: 100vh;
	width: 14vw;
	background-color: SlateGray;
	top: 0;
	left: 0;
	max-width: 250px;
}
.menuoptions {
	font-size: 20px;
	margin-left: 40px;				/* A bit more separate from the left than the text of menu */
}
.menuoptions a {
	text-decoration: none;			/* This make the underline dissapiar (it doesnt look quite good with emojis) */
}
body {
	flex-direction: column;
	background-color: Silver;
	place-items: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box {								/* This class will generate a box so info can be put inside (as a separate class to reuse it) */
	height: 70vh;
	width: 64vw;					/* (100 - 12) -24 = 64 */
	background-color: Gainsboro;
	max-width: 1350px;
	max-height: 540px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;

}
.txtbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
    width: 100%;
}
.emjbox {
	display: flex;
	flex-direction: row;
	font-size: 10vh;
	position: absolute;
	margin-left: 2vw;
}
.emjbox p:hover{
	transform: scale(1.1);
}
h1 {
	text-align: center;
	font-size: 70px;
	color: RoyalBlue;
}
h2 {
	margin-left: 1vw;
	font-size: 1.9vw;
	color: SteelBlue;
}
h3 {
	margin-right: 50px;
	text-align: left;
	max-width: 50%;
	font-size: 1.9vw;
	color: SteelBlue;
}
.nogap {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1;
}
#wasd {
	width: 30%;
	margin-right: 10%;
	margin-left: 10%;
}
#emj {
	width: 50%;
	height: auto;
	font-size: 150px;
	text-align: center;
	margin: 0;
}
.hidden {
	display: none !important;
}
.selected {
	border: 2px solid green;
}


